* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    /* background-color: rgb(243, 222, 208); */
    background: rgba(243, 222, 208, 0.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item.logo img {
    height: 40px;
    width: auto;
    object-fit: contain;
    transition: transform 0.6s ease;
}

.nav-item.logo img:hover {
  transform: rotate(360deg);
}

.nav-item a {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(50, 4, 80);
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav-item a:hover {
    transform: scale(1.2);
    text-decoration: solid;
}

@media (max-width: 768px) {
    .navbar {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 15px;
    }
}

body {
  font-family: "DM Sans", sans-serif;
  color: #1a1a1a;
  line-height: 1.6;
  position: relative;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('assets/doodle.jpg');
  background-size: 300px;
  background-repeat: repeat;
  opacity: 0.04;
  z-index: -1;
  pointer-events: none;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20vw;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: rgb(50, 4, 80);
}

h2{
     color: rgb(50, 4, 80);
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.intro {
  max-width: 700px;
  margin-bottom: 20px;
  font-size: 1rem;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.featured {
    margin: 30px 0 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.project {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.project-tag {
    font-size: 0.9rem;
    color: #414141;
    font-style: italic;
}

.project-description {
    font-size: 1rem;
    margin-bottom: 10px;
    max-width: 700px;
}

.project-images {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-image.device {
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 40px 20px;
    }
}